<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/logo.png" />
    <link rel="icon" type="image/png" href="../assets/img/logo.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ user.username }} - Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="/assets/css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <!-- <link href="/assets/css/demo.css" rel="stylesheet" /> -->
    <!--     Fonts and icons     -->
    <link href="/assets/css/material-icons.css" rel="stylesheet">
    <link href="/assets/css/roboto.css" rel="stylesheet" type="text/css">
    <link href="/css/floating-button.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/css/multi-select.css">


</head>

<style type="text/css">

#sidebar.active {
    margin-left: -250px;
}
[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

@media screen and (max-width: 800px) {
 li #mob-dash {
    visibility: hidden;
    display: none;
  }
}
</style>

<body>
    <div class="wrapper">
        <div id="sidebar" class="sidebar" data-color="purple" data-image="../images/background.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="#" class="simple-text">
                    {{ user.fullname }}
                </a>
            </div>
 
            <div class="sidebar-wrapper">
                <ul class="nav">

                    <li class="active">

                        <a href="/dashboard">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/profile">
                            <i class="material-icons">person</i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/projects">
                            <i class="material-icons">library_books</i>
                            <p>Project List</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/manage_projects">
                            <i class="material-icons">list</i>
                            <p>Manage Projects</p>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/teams">
                            <i class="material-icons">people</i>
                            <p>Teams</p>
                        </a>
                    </li>
                  <!--   <li>
                        <a href="#">
                            <i class="material-icons">edit</i>
                            <p>Manage Projects</p>
                        </a>
                    </li> -->
                    <li>
                        <a href="#">
                            <i class="material-icons text-gray">notifications</i>
                            <p>Notifications</p>
                        </a>
                    </li>
                    <li>
                        <a href="/users/logout">
                            <i class="material-icons">exit_to_app</i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>  

                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">

                            <li>
                                <a href="/dashboard" class="dropdown-toggle" id="mob-dash" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <!-- <p class="hidden-lg hidden-md">Dashboard</p> -->
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="hidden-lg hidden-md">Notifications</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Ahmed Yusuf responded to your email</a>
                                    </li>
                                    <li>
                                        <a href="#">You have 5 new tasks</a>
                                    </li>
                                    <li>
                                        <a href="#">Andrew Mark Sent you a message</a>
                                    </li>
                                    <li>
                                        <a href="#">One new Notification</a>
                                    </li>
                                   <!--  <li>
                                        <a href="#"></a>
                                    </li> -->
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#more" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">More</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Conversations</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings</a>
                                    </li>
                                    <li>
                                        <a href="/users/logout">Logout</a>
                                    </li>
                                   <!--  <li>
                                        <a href="#"></a>
                                    </li> -->
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
<!--                         <li>
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                Toggle Sidebar
                            </button>
                        </li> -->
                    </div>
                </div>
            </nav>
            <div id="content" class="content">
                <!-- <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    Toggle Sidebar
                </button> -->
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="orange">
                                    <!-- <i class="material-icons">store</i> -->
                                    <h1 class="title">150</h1>
                                    <p class="category">Projects</p>
                                </div>
                                <!-- <div class="card-content">
                                    <p class="category">Projects</p>
                                    <h3 class="title">N3.5bn</h3>
                                </div> -->
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-info">visibility</i>
                                        <a class="text-muted" href="/dashboard/projects">View more...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="green">
                                    <!-- <i class="material-icons">store</i> -->
                                    <h1 class="title">3.5bn</h1>
                                    <p class="category">Expenditure</p>
                                </div>
                                <!-- <div class="card-content">
                                    <p class="category">Expenditure</p>
                                    <h3 class="title">N3.5bn</h3>
                                </div> -->
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-info">visibility</i>
                                        <a class="text-muted" href="/dashboard/teams">View more...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="red">
                                    <!-- <i class="material-icons">store</i> -->
                                    <h1 class="title">350</h1>
                                    <p class="category">Tasks</p>
                                </div>
                                <!-- <div class="card-content">
                                    <p class="category">Tasks</p>
                                    <h3 class="title">N3.5bn</h3>
                                </div> -->
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-info">visibility</i>
                                        <a class="text-muted" href="/dashboard/manage_projects">View more...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="green">
                                    <!-- <i class="material-icons">store</i> -->
                                    <h1 class="title">540</h1>
                                    <p class="category">Members</p>
                                  
                                </div>
                                <!-- <div class="card-content">
                                    <p class="category">Members</p>
                                    <h3 class="title">N3.5bn</h3>
                                </div> -->
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-info">visibility</i>
                                        <a class="text-muted" href="/dashboard/teams">View more...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card card-nav-tabs">
                                <div class="card-header" data-background-color="purple">
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <span class="nav-tabs-title">Tasks:</span>
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="active">
                                                    <a href="#profile" data-toggle="tab">
                                                        <i class="material-icons">settings</i> Chores
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="#messages" data-toggle="tab">
                                                        <i class="material-icons">play_arrow</i> Ongoing
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="#settings" data-toggle="tab">
                                                        <i class="material-icons">check</i>Completed
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="profile">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <i class="material-icons">power_settings_new</i>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Strategic Collaboration with Multi-lateral Agencies</td>
                                                        <td class="td-actions text-right">
                                                           <!--  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <i class="material-icons">power_settings_new</i>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Advocacy visits to identified projects, investors & exporters</td>
                                                        <td class="td-actions text-right">
                                                            <!-- <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <i class="material-icons">power_settings_new</i>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Engagement & high level meeting with the office of Vice-President to enlist support for the Project
                                                        </td>
                                                        <td class="td-actions text-right">
                                                            <!-- <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <i class="material-icons">power_settings_new</i>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Identify their prospects and challenges for necessary intervention and output expansion</td>
                                                        <td class="td-actions text-right">
                                                           <!--  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <i class="material-icons">power_settings_new</i>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Strategic Collaboration with Multi-lateral Agencies</td>
                                                        <td class="td-actions text-right">
                                                            <!-- <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <i class="material-icons">power_settings_new</i>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Engagement & high level meeting with the office of Vice-President to enlist support for the Project
                                                        </td>
                                                        <td class="td-actions text-right">
                                                           <!--  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="messages">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <i class="text-info material-icons">power_settings_new</i>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Domestic Export Warehouse and Aggregation Centre Initiative (DEW)
                                                        </td>
                                                        <td class="td-actions text-right">
                                                            <!-- <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <i class="text-info material-icons">power_settings_new</i>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Establishment of Bulk Aggregation Centres with all relevant agencies in charge of inspection and certification e.g SON, NAFDAC, NAQS, FPIS etc. (This will serve as one stop shop for export transaction)</td>
                                                        <td class="td-actions text-right">
                                                           <!--  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <i class="text-info material-icons">power_settings_new</i>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Domestic Export Warehouse and Aggregation Centre Initiative (DEW)
                                                        </td>
                                                        <td class="td-actions text-right">
                                                           <!--  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="text-info material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <i class="text-info material-icons">power_settings_new</i>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Domestic Export Warehouse and Aggregation Centre Initiative (DEW)
                                                        </td>
                                                        <td class="td-actions text-right">
                                                            <!-- <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- tab-pane -->
                                        <div class="tab-pane" id="settings">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="optionsCheckboxes" checked disabled>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Export Market Entry Support Services/ Nigeria Trade House (NTH)</td>
                                                        <td class="td-actions text-right">
                                                            <!-- <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="optionsCheckboxes" checked disabled>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Conduct an export potential Survey in all States.
                                                        </td>
                                                        <td class="td-actions text-right">
                                                           <!--  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="optionsCheckboxes" checked disabled>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Conduct an export potential Survey in all States.
                                                        </td>
                                                        <td class="td-actions text-right">
                                                            <!-- <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="optionsCheckboxes" checked disabled>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Conduct an export potential Survey in all States.
                                                        </td>
                                                        <td class="td-actions text-right">
                                                           <!--  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="optionsCheckboxes" checked disabled>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>African Growth and Opportunity Act (AGOA)</td>
                                                        <td class="td-actions text-right">
                                                            <!-- <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                                <i class="material-icons">close</i>
                                                            </button> -->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="orange">
                                    <h4 class="title">Team Stats</h4>
                                    <p class="category">New employees on 15th September, 2016</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Members</th>
                                            <th>Tasks</th>
                                            <th>Progress</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Product Dept.</td>
                                                <td>10</td>
                                                <td>4</td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Policy &amp; Strategy</td>
                                                <td>12</td>
                                                <td>5</td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" style="border-radius: 0; width: 30%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>ED & I</td>
                                                <td>19</td>
                                                <td>1</td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" style="border-radius: 0; width: 20%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>IEO</td>
                                                <td>35</td>
                                                <td>2</td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" style="border-radius: 0; width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <!-- modal -->
        
        <div class="modal fade" id="addProject" role="dialog">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/projects">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Project Title</label>
                                    <input name="project_title" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Lead Team</label>
                                        <select name="lead_team" id="inputState" class="form-control">
                                            <option selected>{{ user.team }}</option>
                                            <option>Policy & Strategy</option>
                                            <option>Regional Office</option>
                                            <option>International Export Office (IEO)</option>
                                            <option>NEO</option>
                                            <option>P&S</option>
                                            <option>CC</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Collaborative Team</label>
                                        <select multiple="multiple" name="collab_team[]" id="collab" class="form-control">
                                            <option>{{ user.team }}</option>
                                            <option>Policy & Strategy</option>
                                            <option>Regional Office</option>
                                            <option>International Export Office (IEO)</option>
                                            <option>NEO</option>
                                            <option>P&S</option>
                                            <option>CC</option>
                                        </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Project Description</label>
                                    <input name="project_description" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Create Project</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
      
        <!-- /modal -->

        <!-- modal 2 -->
        
        <div class="modal fade" id="addTeam" role="dialog">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Team</h4>
                </div>
                <div class="modal-body">
                <p>This is the team add up.</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
      
      
        <!-- /modal -->

        <!-- floating button -->
        <div class="zoom">
        <a class="zoom-fab zoom-btn-large" id="zoomBtn"><i class="medium material-icons">add</i></a>
        <ul class="zoom-menu">
            <li><a href="#addteam" data-toggle="tooltip" data-placement="top" title="Add Team" class="zoom-fab zoom-btn-sm zoom-btn-person scale-transition scale-out"><i class="add-team material-icons">group_add</i></a></li>

            <li><a href="#addproject" data-toggle="tooltip" data-placement="top" title="Add Project" class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out"><i class="add-project material-icons">note_add</i></a></li>
            <!-- <li><a class="zoom-fab zoom-btn-sm zoom-btn-tangram scale-transition scale-out"></a></li> -->
            <li><a data-toggle="tooltip" data-placement="top" title="Settings" class="zoom-fab zoom-btn-sm zoom-btn-report scale-transition scale-out"><i class="material-icons">settings</i></a></li>
            <li><a href="/users/logout" data-toggle="tooltip" data-placement="top" title="Logout" class="zoom-fab zoom-btn-sm zoom-btn-feedback scale-transition scale-out"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
<!--         <div class="zoom-card scale-transition scale-out">
            <ul class="zoom-card-content">
            <li><a href="#">Content 1</a></li>
            <li>Content 2</li>
            <li>Content 3</li>
            <li>Content 4</li>
            <li>Content 5</li>
            </ul>
        </div> -->
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="../assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="../assets/js/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="../assets/js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="../assets/js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
<!-- Material Dashboard javascript methods -->
<script src="../assets/js/material-dashboard.js?v=1.2.0"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<!-- <script src="../assets/js/demo.js"></script> -->
<script src="../assets/js/jquery-ui.min.js"></script>
<!-- multi-select for modal -->
<script src="/assets/js/jquery.multi-select.js" type="text/javascript"></script>
<script>

$('#collab').multiSelect();


$('#zoomBtn').click(function() {
  $('.zoom-btn-sm').toggleClass('scale-out');
  if (!$('.zoom-card').hasClass('scale-out')) {
    $('.zoom-card').toggleClass('scale-out');
  }
});

$('.zoom-btn-sm').click(function() {
  var btn = $(this);
  var card = $('.zoom-card');
  if ($('.zoom-card').hasClass('scale-out')) {
    $('.zoom-card').toggleClass('scale-out');
  }
  if (btn.hasClass('zoom-btn-person')) {
    card.css('background-color', '#d32f2f');
  } else if (btn.hasClass('zoom-btn-doc')) {
    card.css('background-color', '#fbc02d');
  } else if (btn.hasClass('zoom-btn-tangram')) {
    card.css('background-color', '#388e3c');
  } else if (btn.hasClass('zoom-btn-report')) {
    card.css('background-color', '#1976d2');
  } else {
    card.css('background-color', '#7b1fa2');
  }
});


    $(document).ready(function() {

        $(".add-project").click(function(){
        $("#addProject").modal('show');
    });

        $(".add-team").click(function(){
        $("#addTeam").modal('show');
    });

    // $('[data-toggle="tooltip"]').tooltip();

    // $('#sidebarCollapse').on('click', function () {
    //     $('#sidebar').toggleClass('active');
    // });

        $.notify({
            icon: "notifications",
            title: "Welcome: <strong>{{ user.fullname }}</strong>",
            message: "This is your dashboard, feel free to use the <strong><a href=''>Help Menu</a></strong> anytime."
        },{
            showProgressbar: true,
            delay: 8000,
            
        },{
            mouse_over: null
        })
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>

</html>